.tabs-example{
    height: 30px;
}
.new{
    grid-column:1/3;
    grid-row:0;
}
.rightbar{
    grid-row:1/4;
    grid-column:10/13;
}
.rightbar1{
    grid-column:13;
    grid-row:1/4;

}

.doob{
    grid-column:10/13;
    grid-row:1/4;

}

.centerdiv{

    /*border: grey 1px solid;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;

}
/*.tabs-individual{*/
/*    borderBottom: 1px solid #d6d6d6;*/
/*    padding: 6px;*/
/*    fontWeight: bold;*/
/*}*/


.banner {
    height: 30px;
    margin: 0px -10px 10px;
    background-color: white/*rgb(66, 196, 247)*/;
    border-radius: 2px;
    text-align: center;
    background:#ddd;
}

.banner h5{
    text-align: center;
    color: black;
    padding-top: 5px;
    margin-left: 2%;
    display: inline-block;
    font-size: 15px;
    background:#ddd;
}

.banner Img{
    position: relative;
    float: right;
    right: 10px;
    height: 75px;
}

br {
  content: "";
  margin: 2em;
  display: block;
  font-size: 24%;
}

body{
  /*background-color:#b8b8b8;*/
}
.wrapper{
    /*padding:1em;*/
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap:1em;
    border: black 2px solid;





  /*justify-content: center;*/

    /*display:inline-block*/
    /*grid-auto-rows:minmax(10px, auto)*/
    /*justify-items:stretch;*/
}

.wrapper > div{
    background:#eeee;
    /*background:blue;*/
    padding:1em;
    position:relative;




}

.wrapper > div:nth-child(odd){
    background:#ddd;
    /*background:green;*/
    padding:1em;
    position:relative;
}

/*.wrapper > div:nth-child(3){*/
/*    background:blue;*/

/*}*/

.nested {
    display:grid;
    grid-template-columns:repeat(2,1fr);
    overflow:auto;
   /* grid-auto-rows:4vh; */
   /* grid-auto-columns:12vh;*/

}

.addtoschedule {
    display:grid;
    grid-template-columns:repeat(5,1fr);
    /*overflow: auto;*/
    /*padding-bottom:2em;*/
    grid-gap:1em;

     /*border: #333 1px solid;*/

   /* grid-auto-rows:4vh; */
   /* grid-auto-columns:12vh;*/

}

.nested > div {
    border: #333 1px solid;
}


.piechart{
    grid-column:1/4;
    grid-row:1/2;
}

.ganttchart{
    grid-column:4/11;
    grid-row:1/3;
}

.todolist{
    display: flex;
    flex-direction: column;
    /*align-content: flex-start;*/
    grid-row:1/5;
    float:right;
    /*flex-grow:1;*/
    /*justify-content: space-between;*/
    background-color: white !important;
    justify-content: stretch;
    /*flex-grow: initial;*/
    /*flex-flow: column;*/
    /*margin-right:-10px;*/
    /*   align-items: flex-start;*/



    /*max-height:71vh;*/


    /*height:100%;*/

    border: #ddd 2px solid;
}
.todolist > div {
    /*height:20vh;*/
    /*flex:1;*/
    border: #ddd 1em solid;

}
/*}*/
/*.todolist > div:nth-child(1) {*/
/*    flex:1;*/

/*}*/
/*.listoftodo{*/
/*    display: inline-block;*/
/*}*/

.test{
    /*border: #fff 1em solid;*/
    /*max-height: 20vh;*/
    overflow: auto;
    margin-bottom:1em;
    background-color: #ddd;

}
.sleepstats{
    grid-column: 1/4;


}

.wellbeing{
    grid-column:2/4;
    grid-row: 3/4;
    /*height:10vh;*/
    /*height:40vh;*/
    /*width:40vh;*/
    /*max-height: 28vh;*/

}

.schedulelist{
    grid-column:4/9;
    /*overflow: hidden;*/
    overflow-y:scroll;
    /*min-height:30vh;*/
    /*height:250px;*/

}
.nextbox{
    grid-column: 3/4;
    grid-row:3/4;
    /*max-height: 28vh;*/

}

.virtuegrid{
    display:grid;
    grid-template-columns:repeat(6,1fr);
    border: #333 1px solid;
    grid-gap:1em;
    grid-auto-flow: row;
    grid-row: 1/4;


}

.virtuegrid > div{
    border: #333 1px solid;


}

.n2box{
    grid-column: 1/4;
    grid-row:2/3;
    overflow:auto;

    /*grid-row: 1/2;*/
    /*/*grid-row:3/6;*/
}

.n3box{
    /*grid-column: 8/9;*/
    grid-row: 1/3;
    /*width:1vh;*/

    /*/*grid-row:3/6;*/
}
.n4box{
    /*grid-column: 8/9;*/
    grid-column:4/9;
    grid-row: 4/5;
    align-self: self-start;
    /*height:10vh;*/
    /*width:1vh;*/

    /*/*grid-row:3/6;*/
}

.n5box{
    grid-column: 9/11;
    grid-row: 3/4;
    /*max-height: 28vh;*/
        /*background-color: yellow;*/
    /*grid-row: 3/5;*/
    /*height:10vh;*/

    /*width:1vh;*/

    /*/*grid-row:3/6;*/
}



.habitsmonitor{
    display:inline-grid;
    align-items: center;
    width: 100%;
    height: 100%;
    grid-gap: 0.1em;
    /*padding-left:0.25em;*/
    /*padding-right:0.25em;*/
    background-color: darkgrey;
        background-color: #ccc;
    /*padding-bottom:2em;*/

    grid-template-columns:repeat(8,1fr);



}

.habitsmonitor > div{
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
    /*border: #333 1px solid;*/
    padding-bottom:0.1em;
    padding-top:0.1em;
        background-color: #ddd;


}