.tabs-example{
    height: 30px;
}
.new{
    grid-column:1/3;
    grid-row:0;
}
/*.tabs-individual{*/
/*    borderBottom: 1px solid #d6d6d6;*/
/*    padding: 6px;*/
/*    fontWeight: bold;*/
/*}*/


.banner {
    height: 30px;
    margin: 0px -10px 10px;
    background-color: white/*rgb(66, 196, 247)*/;
    border-radius: 2px;
    text-align: center;
    background:#ddd;
}

.banner h5{
    text-align: center;
    color: black;
    padding-top: 5px;
    margin-left: 2%;
    display: inline-block;
    font-size: 15px;
    background:#ddd;
}

.banner Img{
    position: relative;
    float: right;
    right: 10px;
    height: 75px;
}

br {
  content: "";
  margin: 2em;
  display: block;
  font-size: 24%;
}

body{
  /*background-color:#b8b8b8;*/
}
.wrapper{
    /*padding:1em;*/
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap:1em;
    grid-auto-flow: row;
    border: #333 1px solid;
    /*display:inline-block*/
    /*grid-auto-rows:minmax(10px, auto)*/
    /*justify-items:stretch;*/
}

.wrapper > div{
    background:#eeee;
    /*background:blue;*/
    padding:1em;
    position:relative;

}

.wrapper > div:nth-child(odd){
    background:#ddd;
    /*background:green;*/
    padding:1em;
    position:relative;
}

/*.wrapper > div:nth-child(3){*/
/*    background:blue;*/

/*}*/

.nested {
    display:grid;
    grid-template-columns:repeat(2,1fr);
    overflow:auto;
   /* grid-auto-rows:4vh; */
   /* grid-auto-columns:12vh;*/

}

.addtoschedule {
    display:grid;
    grid-template-columns:repeat(5,1fr);
    /*overflow: auto;*/
    padding-bottom:2em;
    grid-gap:1em;

   /* grid-auto-rows:4vh; */
   /* grid-auto-columns:12vh;*/

}

.nested > div {
    border: #333 1px solid;
}


.piechart{
    grid-column:1/3;
    grid-row:1/2;
}

.ganttchart{
    grid-column:3/8;
    grid-row:1/3;
}

.todolist{
    display: flex;
    flex-direction: column;
    grid-row:1/6;
    /*flex-grow:1;*/
    justify-content: space-between;

    /*max-height:71vh;*/


    /*height:100%;*/

    border: #333 1px solid;
}
.todolist > div{
    height:20vh;
}

.test{
    border: #333 1px solid;
    /*max-height: 20vh;*/
    overflow: auto;
    margin-bottom:1em;

}
.sleepstats{
    grid-column: 1/3;


}

.wellbeing{
    grid-column:1/3;
    grid-row: 3/4;
    /*height:10vh;*/
    /*height:40vh;*/
    /*width:40vh;*/
    /*max-height: 28vh;*/

}

.schedulelist{
    grid-column:3/7;
    /*max-height:50%;*/
    max-height: 28vh;
    /*overflow: hidden;*/
    overflow-y:scroll;
    /*min-height:30vh;*/
    /*height:250px;*/

}
.nextbox{
    grid-column: 3/4;
    grid-row:3/4;
    max-height: 28vh;

}

.virtuegrid{
    display:grid;
    grid-template-columns:repeat(6,1fr);
    border: #333 1px solid;
    grid-gap:1em;
    grid-auto-flow: row;


}

.virtuegrid > div{
    border: #333 1px solid;


}

.n2box{
    grid-column: 1/3;
    grid-row:2/3;

    /*grid-row: 1/2;*/
    /*/*grid-row:3/6;*/
}

.n3box{
    /*grid-column: 8/9;*/
    grid-row: 1/2;
    /*height:10vh;*/
    /*width:1vh;*/

    /*/*grid-row:3/6;*/
}
.n4box{
    /*grid-column: 8/9;*/
    grid-row: 2/3;
    /*height:10vh;*/
    /*width:1vh;*/

    /*/*grid-row:3/6;*/
}

.habitsmonitor{
    display:inline-grid;
    align-items: center;
        width: 100%;
    height: 100%;

    grid-template-columns:repeat(6,1fr);



}

.habitsmonitor > div{
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
    border: #333 1px solid;


}