.banner {
    height: 30px;
    margin: 0px -10px 10px;
    background-color: white/*rgb(66, 196, 247)*/;
    border-radius: 2px;
    text-align: center;
}

.banner h5{
    text-align: center;
    color: black;
    padding-top: 5px;
    margin-left: 2%;
    display: inline-block;
    font-size: 15px;
}

.banner Img{
    position: relative;
    float: right;
    right: 10px;
    height: 75px;
}

body{
  /*background-color:#b8b8b8;*/
}
.wrapper{
    /*padding:1em;*/
    display:grid;
    grid-template-columns: 1fr 2.25fr 1fr 1fr 0.5fr;
    grid-gap:1em;
    justify-items:stretch;
}

.wrapper > div{
    background:#eeee;
    padding:1em;
    /*height:13vh;*/
    /*display: inline-block*/
}

.wrapper > div:nth-child(odd){
    background:#ddd;
    padding:1em;
}

.box1{
    grid-column:1;
    /*grid-row:1/4;*/
    /*flex-flow: row wrap;*/
    /*justify-items:stretch;*/
    /*height:%;*/

    /*padding-bottom: 100px;*/
    /*grid-column:1/3;*/

}

.box2{
    /*align-self:start;*/
    grid-column:2;
    grid-row:1/4;
    /*height:44vh;*/
    justify-items:stretch;



}
.box3{
    /*grid-column:3;*/
    /*grid-row:1/3;*/
    /*align-self:start;*/

}
.box4{
    /*grid-column:4;*/
    /*grid-row:1/2;*/

}

.box4{

}


.box5{

}

.box8{
    /*grid-column: 3;*/
    /*grid-row: 3/5;*/

}

.box9{
    /*grid-column:4;*/
    /*grid-row:2/4;*/

}